<div class="modal fade bs-example-modal-lg" id="pkloadingtModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content bg" style="margin-top: 300px;height: 130px;border-radius: 16px;opacity: 0.9">
            <img src="img/web/loading.png" alt="" class="center-block" style="margin-top: 30px;">
        </div>
    </div>
</div>