<script>
    $("#s1").fitText(1.2);
</script>

<div class="modal fade bs-example-modal-lg" id="pkModal"  tabindex="-1" role="dialog" aria-labelledby="myModalLabel" >
    <div class="modal-dialog modal-lg" >
        <div class="modal-content bg2" style="margin-top: 20px;min-height: 540px;border-radius: 16px;">
            <div>
                <div class="container">
                    <div class="pkhaderbg" style="height: 5.5em;">
                        <div style="border-width:0px;
        background:url({{'img/mobile/'+pkMeInfo.headImg}});
        background-repeat:no-repeat;
        background-position:0px 2px;
        background-size: 100px 123px;
        height:95px;  width:95px;
        float:left;
        position: relative;
        bottom: 10px;"></div>
                        <div class="milky pull-left" style="margin-top: 0.8em;font-size: 16px;">{{pkMeInfo.realname}}</div>
                        <div style="border-width:0px;
        background:url({{'img/mobile/'+pkRivalInfo.headImg}});
        background-repeat:no-repeat;
        background-position:0px 2px;
        background-size: 100px 123px;
        height:95px;  width:95px;
        float:right;
        position: relative;
        bottom: 10px;"></div>
                        <div class="milky pull-right" style="margin-top: 3.5em;font-size: 16px;">{{pkRivalInfo.realname}}</div>
                    </div>
                    <div>
                        <div class="text-center" style="font-family: HappyZcool581597;color:#fff;" id="Subjecttimer">{{countdown}}</div>
                        <div></div>
                    </div>
                    <div>
                        <div class="userbg center-block" style="padding: 1.5em 1em 2em 1em; width: 95%;min-height: 250px;">
                            <div id="subjectPanle">
                                <div class="text-center" id="subjectAnalyzeTitle" style="font-size:1rem;color: #ab5912;font-family: Heiti SC,Helvetica,Droidsansfallback,Droid Sans,Arial Rounded MT Bold, Helvetica Rounded, Arial, sans-serif;">{{questionContent}}</div>
                                <div ng-repeat="item in questionItem_list">
                                    <div class="questionItembg Analyze {{item.is_right}}" ng-click="clickAnswer($index,pkquestionid,item.sort_no,item.is_right,item.question_item_content)">
                                        {{item.question_item_content}}
                                    </div>
                                </div>
                            </div>

                            <div>
                                <div style="font-size: 2rem;font-family: HappyZcool581597;color: #fff;" class="text-right" id="">{{current_question}}</div>
                            </div>
                            <div>
                                <img src="img/mobile/btnexit.png" class="img-responsive center-block" style="width: 45%;" id="" ng-click="closePk()" alt=""/>
                            </div>
                        </div>
                        <div style="margin-top: 10px;">
                            <div class="propbg" style="height: 3.8em;">
                                <div class="row" style="float:right;position: relative;bottom: 1.2em;">
                                    <div class="col-xs-4">
                                        <img src="img/mobile/item1.png" class="img-responsive center-block" style="width: 45%;" alt="" ng-click="clientuseprop(1)"/>
                                        <div class="text-center" style="font-size: 1em;font-family: HappyZcool581597;color: #fff;">{{ngProps1}}</div>
                                    </div>
                                    <div class="col-xs-4">
                                        <img src="img/mobile/item2.png" class="img-responsive center-block" style="width: 45%;" alt="" ng-click="clientuseprop(2)"/>
                                        <div class="text-center" style="font-size: 1em;font-family: HappyZcool581597;color: #fff;">{{ngProps2}}</div>
                                    </div>
                                    <div class="col-xs-4">
                                        <img src="img/mobile/item3.png" class="img-responsive center-block" style="width: 45%;" alt="" ng-click="clientuseprop(3)"/>
                                        <div class="text-center" style="font-size: 1em;font-family: HappyZcool581597;color: #fff;">{{ngProps3}}</div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>