<div class="modal fade" id="pointModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content bg" style="margin-top: 200px;height: 500px;border-radius: 16px;opacity: 0.9">
            <img src="img/web/pointtitle.png" alt="" class="center-block" style="margin-top: 20px;">
            <div style="font-size:20px;font-family: '微软雅黑';margin-top: 10px;" class="text-center">
                <span>当前积分</span>
                <span id="pointModalPoint">{{ngPoints}}</span>
            </div>
            <br>
            <div class="itembg" style="margin-left: 70px;margin-right: 70px;">
                <table class="table table-condensed" style="border-width: 0px;">
                    <tr>
                        <td style="vertical-align: middle;border-width:0px;width: 90px;">
                            <img src="img/web/pointicon.png" class="img-responsive" style="float:left;position: relative; top: 10px;left:-30px;width: 40px;height: 40px;"/>
                        </td>
                        <td style="vertical-align: middle;border-width:0px;width: 60%;">
                            <div class="milkyblack shoppropname" style="font-size: 1.1em;font-family: '微软雅黑';">小积分包  <span id="prop1Num"></span></div>
                            <div class="shoppropdescribe" style="font-family: '微软雅黑';">500积分</div>
                        </td>
                        <td style="vertical-align: middle;border-width:0px;">
                            <img src="img/web/bug50.png"  id="btnBugyProp1" alt="" style="width: 70px;height: 43px;"/>
                        </td>
                    </tr>
                </table>
            </div>

            <div class="itembg" style="margin-left: 70px;margin-right: 70px;margin-top: 15px;">
                <table class="table table-condensed" style="border-width: 0px;">
                    <tr>
                        <td style="vertical-align: middle;border-width:0px;width: 90px;">
                            <img src="img/web/pointicon.png" class="img-responsive" style="float:left;position: relative; left:-30px;width: 55px;height: 55px;"/>
                        </td>
                        <td style="vertical-align: middle;border-width:0px;width: 60%;">
                            <div class="milkyblack shoppropname" style="font-size: 1.1em;font-family: '微软雅黑';">积分包  <span id="prop1Num"></span></div>
                            <div class="shoppropdescribe" style="font-family: '微软雅黑';">1100积分</div>
                        </td>
                        <td style="vertical-align: middle;border-width:0px;">
                            <img src="img/web/bug50.png"  id="btnBugyProp1" alt="" style="width: 70px;height: 43px;"/>
                        </td>
                    </tr>
                </table>
            </div>

            <div class="itembg" style="margin-left: 70px;margin-right: 70px;margin-top: 15px;">
                <table class="table table-condensed" style="border-width: 0px;">
                    <tr>
                        <td style="vertical-align: middle;border-width:0px;width: 90px;">
                            <img src="img/web/pointicon.png" class="img-responsive" style="float:left;position: relative; left:-30px;width: 70px;height: 70px;"/>
                        </td>
                        <td style="vertical-align: middle;border-width:0px;width: 60%;">
                            <div class="milkyblack shoppropname" style="font-size: 1.1em;font-family: '微软雅黑';">大积分包 <span id="prop1Num"></span></div>
                            <div class="shoppropdescribe" style="font-family: '微软雅黑';">6000积分</div>
                        </td>
                        <td style="vertical-align: middle;border-width:0px;">
                            <img src="img/web/bug50.png"  id="btnBugyProp1" alt="" style="width: 70px;height: 43px;"/>
                        </td>
                    </tr>
                </table>
            </div>
        </div>
    </div>
</div>