<style>
    .questionListBg{
        filter:"progid:DXImageTransform.Microsoft.AlphaImageLoader(sizingMethod='scale')";
        -moz-background-size:100% 100%;
        background-size:100% 100%;
        background-image: url(img/web/bgquestion.png);padding-top: 60px;padding-left: 140px;padding-right: 80px;
        min-height: 350px;
    }
</style>
<div class="modal fade bs-example-modal-lg" id="questionModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog modal-lg" role="document">

        <div ng-repeat="item in analyzeInfo">

            <div style="" class="questionListBg">
                <div class="questionScroll">
                    <div style="font-size: 16px;font-family: '微软雅黑';color:#5c3000;letter-spacing:1px;line-height:26px;">
                        {{item.question_content}}
                    </div>

                    <div class="answer" ng-repeat="answerItem in item.item_list">
                        <div>{{answerItem.question_item_content}}</div>
                        <!--<div>A.three</div>-->
                        <!--<div style="color: red;">B.the place of their homes </div>-->
                        <!--<div style="color:green;">C.a person job</div>-->
                        <!--<div>D.their father’s given name </div>-->
                        <div style="margin-top: 15px;"></div>
                    </div>

                    <div  style="color:{{item.selectRight}}">{{item.selectRightText}} : {{item.itemcontent}}</div>
                </div>
            </div>
        </div>
    </div>
</div>
<style>
    .answer{
        font-size: 14px;font-family: '微软雅黑';color:#5c3000;letter-spacing:1px;line-height:26px;
        margin-top:5px;
    }
</style>