

<div class="modal fade bs-example-modal" id="resultModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" style="margin-top: 100px;">
    <div class="modal-dialog" role="document">
        <div class="modal-content" style="background-image: url(img/web/bg.jpg)" style="margin-top: 500px;border-radius: 16px;opacity: 0.9;">
            <div style="height: 300px;">
                <img src="img/web/h1.png" style="width: 30%;padding-left:30px;" alt="" class="pull-left">
                <img src="img/web/h2.png" style="width: 30%;padding-right: 30px;" alt="" class="pull-right">
                <span class="clearfix"></span>
                <div class="pull-left" style="padding-left: 40px;">姓名</div>
                <div class="pull-right" style="padding-right:40px;">姓名</div>
            </div>
        </div>
    </div>
</div>